<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head1 %}
    {% endblock %}
    <link href="/static/css/bootstrap-treeview.css" rel="stylesheet">
    <script src="/static/js/bootstrap-treeview.js"></script>
    {% block head %}
    {% endblock %}
    <title>测试质量平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index/">质量管理平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-right navbar-nav">
                <li><a href="#">{{ user }}</a> </li>
                <li><a href="/logout/">退出</a> </li>
            </ul>
        </div>
    </div>
</nav>
<!--功能列表-->
<div>
    <ol class="breadcrumb" style="position: fixed; padding-left: 200px; top: 51px; width: 100%;">
        <li><a href="/index/">首页</a></li>
        {% block breadcrumb_button %}
        {% endblock %}
    </ol>
</div>
<div style="background-color: azure; height: 100%; width: 300px; position: fixed; overflow-y: scroll; top: 88px">
    <div id="tree"></div>
</div>
<style>
    html,body{
        height: 100%;
    }
    .right-div{
        margin-left: 300px;
        width: calc(100% - 300px);
        height: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
        top:88px;
        position: fixed;
    }
    .tree-button{
        z-index: 999;
    }
</style>
<div class="right-div">
    {% block content %}
    {% endblock %}
</div>
<script>
    function getTree() {
        var data = [
          {
            text:"资源导航",
              href: "/guide/",
          },
            {
                text: "接口测试",
            },
          {
            text:"web测试",
              href: "http://127.0.0.1:8000/web/webhome",
              nodes: [{text: "项目管理", href: "/web/webprojectlist"},
                     {text: "PO管理", href: "/web/webpageobjecthome"},
                     { text: "测试用例", href: "/web/webcasehome"},
                     { text: "全局控件", href: "/web/webglobalcontrolhome"}]
          },
          {
            text:"Parent 3"
          },
          {
            text:"Parent 4"
          },
          {    text: "Node 1",
              icon: "glyphicon glyphicon-stop",
              image: "something.png",
              selectedIcon: "glyphicon glyphicon-stop",
              color: "#000000",
              backColor: "#FFFFFF",
              iconColor: "#FFFFFF",
              selectable: true,
              checkable: true,
              state: {
                // checked: true,
                // disabled: true,
                // expanded: true,
                // selected: true
              },
              tags: [
                'available',
                  '123',
                {text:'test', class:'button'}
              ],
              tagsClass: 'button',
              dataAttr: {
                target: '#tree'
              },
              id: 'something',
              class: 'special extraordinary',
              hideCheckbox: true,
                     nodes: [{text: "项目管理", href: "/web/webprojectlist", },
                     {text: "PO管理", href: "/web/webpageobjecthome"},
                     { text: "测试用例", href: "/web/webcasehome"},
                     { text: "全局控件", href: "/web/webglobalcontrolhome"}]
          }
        ];
        return data;
    }
    $('#tree').treeview({data: getTree(),levels: 1, showTags: true,})

    $('#tree').on('nodeSelected', function(event, data) {
        console.log(event)
        console.log(data.href)
        console.log($.type(data))
        if (data.href)
        {location.href = data.href};
});


</script>
{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}
</body>
</html>
